{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- SUBHEADER
    ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p>
                    queStory Projects
                </p>
            </div>
        </div>
    </div>
    <div class="hr">
    </div>
    <!-- CONTENT
    ================================================== -->
    <div class="row">
        <div class="twelve columns">
            <!-- CATEGORIES-->
            <section id="options" class="clearfix">
                <ul id="filters" class="option-set clearfix" data-option-key="filter">
                    <li><a href="#filter" data-option-value="*" class="portofoliobutton selected">Show all</a></li>
                    <li><a href="#filter" data-option-value=".nature" class="portofoliobutton">Nature</a></li>
                    <li><a href="#filter" data-option-value=".trains" class="portofoliobutton">Trains</a></li>
                    <li><a href="#filter" data-option-value=".castles" class="portofoliobutton">Castles</a></li>
                </ul>
            </section>
        </div>
    </div>
    <div id="portofolio" class="row">
        {% for project in projects %}
            <div class="six columns category trains">
                <h5>{{ project.name }}</h5>

                <p>
                    {{ project.about|truncatewords:20 }}
                </p>

                <div class="portofoliothumb">
                    <div class="portofoliothumboverlay">
                        <div class="viewgallery">
                            <!--image here -->
                            <a data-gal="prettyPhoto[gallery]"
                               href="http://www.wowthemes.net/demo/studiofrancesca/images/temp/folio1.jpg"><img
                                    src="http://www.wowthemes.net/demo/studiofrancesca/images/playgal.png"
                                    class="left galleryicon" alt=""> Gallery</a>
                        </div>
                        <div class="inner">
                            <a class="projectdetail" href="{% url 'projects:project' project.id %}">+ Project Details</a>
                        </div>
                    </div>
                    <!-- image here -->
                    {% if project.image %}
                        <a href="{% url 'projects:project' project.id %}">
                            <img src="{{ project.image.url }}" width="460" height="200"/>
                        </a>
                    {% else %}
                        <a href="{% url 'projects:project' project.id %}"><img
                                src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/folio1.jpg" alt="">
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="hr">
    </div>
{% endblock %}