{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- SUBHEADER
    ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="left">
                    PROJECT DETAIL
                </p>

                <p class="right">
                    <a href="{% url 'projects:project' %}">View more projects </a>
                    <b><a href="{% url 'rooms:room' project.id %}">| View project rooms</a></b>
                </p>
            </div>
        </div>
    </div>
    <div class="hr">
    </div>
    <!-- CONTENT
    ================================================== -->
    <div class="row">
        <!-- PROJECT DESCRIPTION-->
        <div class="six columns">
            <div class="sectiontitle">
                <h4>{{ project.name }}</h4>
            </div>
            <p>
                {{ project.about }}
            </p>
            <dl class="tabs">
                <dd class="active"><a href="#simple1">Features</a></dd>
                <dd><a href="#simple2">What we did</a></dd>
                <dd><a href="#simple3">Address & contacts</a></dd>
            </dl>
            <ul class="tabs-content">
                <li class="active" id="simple1Tab">
                    <p>
                        Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus ad genera formasque
                        generum venerunt. Sit enim idem caecus, debilis. Duo Reges: constructio interrete. Nulla tempus
                        erat accumsan.
                    </p>

                    <div class="six columns noleftmargin">
                        <p>
                            <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""><b>consectetur
                            adipiscing</b>
                        </p>

                        <p>
                            <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""><b>maxima
                            parte</b>
                        </p>
                    </div>
                    <div class="six columns">
                        <p>
                            <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""><b>genera
                            formasque</b>
                        </p>

                        <p>
                            <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""><b>quibus
                            ad genera</b>
                        </p>
                    </div>
                </li>
                <li id="simple2Tab">
                    <p>
                        Consectetur adipiscing elit. Et non ex maxima parte de tota iudicabis? Item de contrariis, a
                        quibus ad genera formasque generum.
                    </p>

                    <p>
                        <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""> genera
                        formasque
                    </p>

                    <p>
                        <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""> quibus ad
                        genera
                    </p>

                    <p>
                        Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus ad genera formasque
                        generum venerunt. Sit enim idem caecus, debilis. Duo Reges: constructio interrete.
                    </p>
                </li>
                <li id="simple3Tab">
                    <p>
                        <i>{{ project.phone }}"</i>
                        <i>{{ project.site }}"</i>
                    </p>
                </li>
            </ul>
        </div>
        <!-- end main content-->
        <!-- SLIDER-->
        <div class="six columns">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider detailslider">
                    {% if project.image %}
                        <a href="{% url 'projects:project' project.id %}">
                            <img src="{{ project.image.url }}" data-thumb="" alt=""/>
                        </a>
                        <a href="{% url 'projects:project' project.id %}">
                            <img src="{{ project.image.url }}" data-thumb="" alt=""/>
                        </a>
                    {% else %}
                        <a href="{% url 'projects:project' project.id %}"><img
                                src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/nivo3.jpg" data-thumb=""
                                alt=""/></a><a href="{% url 'projects:project' project.id %}">
                        <img src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/nivo1.jpg" data-thumb=""
                             alt=""/></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- end sliderr-->
    </div>
    <div class="hr">
    </div>
{% endblock %}