{% extends "base.html" %}

{# listutil - to view information from list in two columns #}
{#{% load listutil %}#}
{% load static %}

{% block links %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block conrent %}

    <b><a href="{% url 'articles:remove_saved_article' %}">remove all</a></b>

    {% if favourite_rooms %}
        {% for r in favourite_rooms %}
            <b><a href="{% url 'room:room(s)' r.id %}">{{ r.name }}</a></b> (<a
                href="{% url 'franchise:franchise(s)' r.project.id %}">{{ r.project.name }}</a>)<br/>
            {% if r.image %}
                <a href="{% url 'room:room(s)' r.id %}">
                    <img src="{{ r.image.url }}" height="200" width="200"/>
                </a>
            {% else %}
                <a href="{% url 'room:room(s)' r.id %}"><img
                        src="{% static 'images/article1.jpg' %}"></a>
            {% endif %}
            <p>{{ r.about|truncatechars:20 }}</p>
            <b><a href="{% url 'room:remove_favourite_room' r.id %}">remove</a></b>
            <b><a href="{% url 'franchise:franchise(s)' %}"> show all rooms of project {{ r.project.name }}</a></b>
            <hr/>
        {% endfor %}
    {% else %}
        No rooms yet..
    {% endif %}

{% endblock %}