{% extends "base.html" %}

{% load static %}

{% block links %}
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
    <!-- SLIDER
================================================== -->
    <div id="ei-slider" class="ei-slider">
        <ul class="ei-slider-large">
            {% for room in slider_rooms %}
                <li>
                    {% if room.image %}
                        <a href="{% url 'rooms:room' room.project.id room.id %}">
                            <img src="{{ room.image.url }}"/>
                            {#    width="460" height="200    #}
                        </a>
                    {% else %}
                        <a href="{% url 'rooms:room' room.project.id room.id %}"><img
                                src="http://www.wowthemes.net/demo/studiofrancesca/images/slideshow/large/2.jpg" alt="">
                        </a>
                    {% endif %}
                    <div class="ei-title">
                        <h2>{{ room.name }}</h2>

                        <h3>{{ room.project.name }}</h3>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <!-- slider-thumbs -->
        <ul class="ei-slider-thumbs">
            <li class="ei-slider-element">Current</li>
            {% for room in slider_rooms %}
                {% if room.image %}
                    <li><a href="{% url 'rooms:room' room.project.id room.id %}">
                        <img src="{{ room.image.url }}" class="slideshowthumb"/>
                    </a></li>
                {% else %}
                    <li><a href="#">Slide N</a><img src="http://placehold.it/150x59/444" class="slideshowthumb"/>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="minipause">
    </div>
    <!-- SUBHEADER
    ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="text-center">
                     {#       WRITE HERE SOMETHING        #}
                </p>
            </div>
        </div>
    </div>
    <!-- CONTENT
    ================================================== -->
    <div class="row">
        <div class="twelve columns">
            <div class="centersectiontitle">
                <h4>What we do</h4>
            </div>
        </div>
        <div class="four columns">
            <h5>Photography</h5>

            <p>
                Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt
                ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
            </p>

            <p>
                <a href="#" class="readmore">Learn more</a>
            </p>
        </div>
        <div class="four columns">
            <h5>Artwork</h5>

            <p>
                Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt
                ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
            </p>

            <p>
                <a href="#" class="readmore">Learn more</a>
            </p>
        </div>
        <div class="four columns">
            <h5>Logos</h5>

            <p>
                Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt
                ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
            </p>

            <p>
                <a href="#" class="readmore">Learn more</a>
            </p>
        </div>
    </div>
    <div class="hr">
    </div>
    <!-- TESTIMONIALS
    ================================================== -->
    <div class="row">
        <div class="twelve columns">
            <div id="testimonials">
                <blockquote>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis." <cite>Martin - NY</cite>
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco." <cite>Sandra - LA</cite>
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco." <cite>Jason - MA</cite>
                    </p>
                </blockquote>
            </div>
            <!--end testimonials-->
        </div>
    </div>
{% endblock %}