{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- SUBHEADER
================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="eight columns">
                <p>
                    <a href="{% url 'homepage' %}"> Home</a> /
                    <a href="{% url 'projects:project' room.project.id %}">{{ room.project.name }}</a>
                    / {{ room.name }}
                </p>
            </div>
            <div class="four columns">
                <div class="row collapse">
                    <div class="ten mobile-three columns">
                        <input type="text" class="nomargin" placeholder="Search...">
                    </div>
                    <div class="two mobile-one columns">
                        <a href="#" class="postfix button expand">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr">
    </div>
    <!-- CONTENT
    ================================================== -->
    <div class="row">
        <div class="twelve columns noleftmargin">
            <!-- MAIN CONTENT -->
            <div class="eight columns">
                <div class="sectiontitle">
                    <h4>{{ room.name }}</h4>
                </div>
                <p>
                    {% if room.image %}
                        <a href="{% url 'rooms:room' room.project.id room.id %}">
                            <img src="{{ room.image.url }}"/>
                        </a>
                    {% else %}
                        <a href="{% url 'rooms:room' room.project.id room.id %}"><img
                                src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/post.jpg"
                                class="blogimage grayscale" alt="">
                        </a>
                    {% endif %}
                </p>

                <p>
                    {{ room.about }}
                </p>
                <p>
                    <b>Address: {{ room.address }}</b></br>
                    <b>Phone:{{ room.phone }}</b>
                    {% if room_rating %}
                        <b>{{ room_rating.value }}</b>
                    {% endif %}
                </p>
                <br/>

                <div class="panel">
                    <div class="avatar">
                        <img src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/author1.png" alt="">
                    </div>
                    <h5 class="left">AUTHOR: Jane Sanders </h5>

                    <div class="right">
                        <div class="social facebook">
                            <a href="#"></a>
                        </div>
                        <div class="social twitter">
                            <a href="#"></a>
                        </div>
                        <div class="social deviantart">
                            <a href="#"></a>
                        </div>
                        <div class="social flickr">
                            <a href="#"></a>
                        </div>
                        <div class="social dribbble">
                            <a href="#"></a>
                        </div>
                    </div>
                    <p class="clear authortext">
                        Jane is a professional photographer working for SLC. Temporibus autem quibusdam et aut officiis
                        debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae
                        non recusandae. Itaque earum rerum. <a href="#">Browse more articles</a> by this author.<br/>
                    </p>
                </div>
                <h5>1 Comment</h5>
                <hr>
                <div class="gravatar">
                    <img src="http://www.wowthemes.net/demo/studiofrancesca/images/gravatar.png" alt="">
                </div>
                <h5>Sam
			<span class="commentdate">
				- October 26, 2013 at 9:39 am
			</span>
                </h5>

                <p>
                    But she cuddled in bed with one knee up to her neck in cute boyish fashion, laughing softly at the
                    remembrance of another time when she had popped a cigarette stump into the eye of a London bobby
                    from the top of a bus. Temporibus autem quibusdam.
                </p>
                <br class="clear">
                <h5>SPEAK YOUR MIND</h5>
                <input type="text" class="five smoothborder" placeholder="Your name *"/>
                <input type="text" class="five smoothborder" placeholder="E-mail address *"/>
                <input type="text" class="five smoothborder" placeholder="Website"/>
                <textarea class="six smoothborder" rows="7" placeholder="Comments *"></textarea>
                <button type="submit" class="readmore">Publish</button>
            </div>
            <!-- SIDEBAR -->
            <div class="four columns">
                {#     TODO back link (where is it showld be situated?)    #}
                <h4><a href="{% url 'rooms:room' room.id %}"> [back to Project rooms] </a></h4>
                {#     TODO other rooms   #}
                <h6 class="sidebartitle">OTHER ROOMS OF PROJECT</h6>

                <div class="avatar">
                    <img src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/author1.png" alt="">
                </div>
                <p>
                    Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
                </p>

                <div class="avatar">
                    <img src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/author2.png" alt="">
                </div>
                <p>
                    Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
                </p>

                <div class="avatar">
                    <img src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/author3.png" alt="">
                </div>
                <p>
                    Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
                </p>
                <br class="clear"/>
                <h6 class="sidebartitle">POPULAR TAGS</h6>
                <a href="#" class="tags">Photography</a>
                <a href="#" class="tags">Vintage</a>
                <a href="#" class="tags">Nature</a>
                <a href="#" class="tags">Design</a>
                <a href="#" class="tags">Printing</a>
                <a href="#" class="tags">Contemporary</a>
                <a href="#" class="tags">Classic</a>
                <a href="#" class="tags">Elegant</a>
                <a href="#" class="tags">Graphics</a>
                <br class="clear"/>
                <br/><br/>
                <h6 class="sidebartitle">RELATED POSTS</h6>

                <p>
                    7 Oct 2013
                </p>

                <p>
                    Many pieces were proposed, but none seemed suitable, because each one wished to play a good and
                    suitable part ...
                </p>

                <p>
                    6 Sept 2013
                </p>

                <p>
                    It was ready for production, when through accident we were disappointed about securing the private
                    theatre on ...
                </p>

                <p>
                    4 Aug 2013
                </p>

                <p>
                    The over-kind praise which it won encouraged me to have the play printed. I decided, as I could see
                    no other prospects...
                </p>
            </div>
        </div>
    </div>
    <div class="hr">
    </div>
{% endblock %}


{#{% if article %}#}
{#        <h3>{{ article.get_topic_display }}</h3>#}
{#        <b>{{ article.title }}</b><br/>#}
{#        {% if a.image %}#}
{#            <img src="{{ a.image.url }}" height="200" width="200"/>#}
{#        {% else %}#}
{#            <img src="{% static 'images/article1.jpg' %}">#}
{#        {% endif %}#}
{#        <p>{{ article.text }}</p>#}
{#        <p>{{ article.author.username }}</p>#}
{#        <p>{{ article.pub_date }}</p>#}
{#        <p>{{ article.journal.name }}</p> {# TODO href on journal page#}
{#        <br/>#}
{#        Tags:#}
{#        {% for tag in tags %}#}
{#            {{ tag.name }},#}
{#        {% endfor %}#}
{#        <br/>#}
{#        <p>Rating of an article from <b>{{ user.username }}<b/>: <b>{{ art_rating.value }}</b><p/>#}
{#        <hr/>#}
{#    {% else %}#}
{#        No article yet..#}
{#    {% endif %}#}
{#    <br/>#}
{#    <div class="secound_half">#}
{#        <div class="tags">#}
{#            <header>#}
{#                <h3 class="title-head">Tags</h3>#}
{#            </header>#}
{#            <p>#}
{#                {% for tag in tags %}#}
{#                    <a class="tag1" href="#">[{{ tag.name }}]</a>#}
{#                {% endfor %}#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#    Comment:#}
{#    <form method="post" action="{% url 'comment' %}">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Post a comment"/>#}
{#    </form>#}