.colorme {color: #260237;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #260237;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color: #260237;}
.flyout {border-top:2px solid #260237;}
.sectiontitle {border-left: 4px solid #260237;}
::-moz-selection{background: #260237;color:#fff;}
::selection{background: #260237;color:#fff;}
.ca-menu li:hover .ca-main {color: #260237;}
.topborder { border-top:4px solid #260237;}
.readmore {background: #260237;}
 #subheader {background: #260237;border-top: 1px solid #260237; color: #fff;}
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background: #260237;}
 #testimonials blockquote cite {color: #260237;}
 .tags {background: #260237;}
 ul.pagination li.current a {background: #260237;}
.saymore {color: #260237;}
.submit {background: #260237;}
dl.tabs dd.active { border-bottom: 3px solid #260237;}
ul.accordion > li.active {border-top: 3px solid #260237;}
div.alert-box.default { background-color: #260237;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #260237;}
.btn-slide {	background: #260237 url(../../images/plus.png) no-repeat;}
.btn-slide.active { background: #260237 url(../../images/minus.png) no-repeat;}
#footer {border-top: #260237 4px solid;}
.back-top a:hover{background-color: #260237;}
.sf-shadow ul {border-top:2px solid #260237;}
.panel {border-left:4px solid #260237;}
.colorbackground {background: #260237;}
a.projectdetail { background: #260237;opacity:0.8;}
a.projectdetail:hover { background: #260237;opacity:1.0;}
#testimonials {border-left: solid 6px #260237;}
.ei-title h2{background: #260237;}