{% extends "base.html" %}

{% load static %}

{% block content %}
    <title>About us</title>
    <!-- SUBHEADER
================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="left">
                    ABOUT US
                </p>

                <p class="right">
                    Meet Our Team
                </p>
            </div>
        </div>
    </div>
    <div class="hr">
    </div>
    <!-- CONTENT
    ================================================== -->
    <div class="row">
        <!-- MAIN CONTENT-->
        <div class="eight columns">
            <!-- Our History-->
            <div class="sectiontitle">
                <h4>Our History</h4>
            </div>
            <p>
                Mrs. Delorane had died of decline: people would say to one another, in confidence, they hoped Ellin
                might escape it. The largest and <b>best farm</b> in the neighbourhood of Timberdale, larger than even
                that of the Ashtons, was called the Dower Farm.
            </p>

            <p>
                Out-of-doors he was the keen, active, thorough farmer; indoors he lived as a gentleman. He had four
                children: three boys and one girl. Nothing must prevent her journey upon the desert!
            </p>

            <div class="panel">
                <p>
                    <b>Phasellus luctus ante in eros suscipit aliquet. Donec convallis scelerisque tellus, quis
                        vulputate lacus laoreet sed. Mauris vitae ultricies neque. Nullam arcu neque, posuere et
                        accumsan quis, euismod id leo. Donec tristique, nisi vel tincidunt faucibus, velit eros pulvinar
                        leo, in sollicitudin nisi nibh ac arcu.</b>
                </p>

                <p class="text-right">
                    <i>Ray Singer, Manager at "Studio Francesca"</i>
                </p>
            </div>
            <p>
                From her window she looked out toward it, so wonderful, so superb, so exquisite, weird and beautiful.
                Exactly, she told herself, like a big, black smudge.
            </p>
            <br/>
            <!-- Accordion-->
            <dl class="tabs">
                <dd class="active"><a href="#simple1">Why choose us</a></dd>
                <dd><a href="#simple2">How we work</a></dd>
                <dd><a href="#simple3">Completion time</a></dd>
                <dd><a href="#simple3">Prices and budget</a></dd>
            </dl>
            <ul class="tabs-content">
                <li class="active" id="simple1Tab">
                    <p>
                        This is simple tab 1's content. Pretty neat, huh? Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus ad
                        genera formasque generum.
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et non ex maxima parte de tota
                        iudicabis? Item de contrariis, a quibus ad genera formasque generum venerunt. Sit enim idem
                        caecus, debilis. Duo Reges: constructio interrete.
                    </p>

                    <p>
                        Sit enim idem caecus, debilis. Duo Reges: constructio interrete.
                    </p>
                </li>
                <li id="simple2Tab">This is simple tab 2's content. Now you see it! Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus
                    ad genera formasque generum.
                </li>
                <li id="simple3Tab">This is simple tab 3's content. It's, you know...okay. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus
                    ad genera formasque generum.
                </li>
                <li id="simple4Tab">This is simple tab 3's content. It's, you know...okay. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus
                    ad genera formasque generum.
                </li>
            </ul>
        </div><!-- end main content-->

        <!-- SIDEBAR-->
        <div class="four columns">
            <div class="teamwrap teambox">
                <img src="{% static 'images/dilya.jpg' %}" width="260" height="200" alt="">

                <div class="mask">
                    <h2>Dilyara Altynbaeva</h2>

                    <p>
                        Team-leader, developer, architect, working for this company since the beginning.

                    <div class="social socialteam facebook">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam twitter">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam deviantart">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam flickr">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam dribbble">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="teamwrap teambox">
                <img src="{% static 'images/philipp.jpg' %}" width="260" height="200" alt="">

                <div class="mask">
                    <h2>Philipp Zaripov</h2>

                    <p>
                        One of our best architect, developer, working for this company since the beginning.

                    <div class="social socialteam facebook">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam twitter">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam deviantart">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam flickr">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam dribbble">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="teamwrap teambox">
                <img src="#" width="260" height="200" alt="">

                <div class="mask">
                    <h2>Ruslan Yakbarov</h2>

                    <p>
                        Project manager, developer, working for this company since the beginning.

                    <div class="social socialteam facebook">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam twitter">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam deviantart">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam flickr">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam dribbble">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="teamwrap teambox">
                <img src="#" width="260" height="200" alt="">

                <div class="mask">
                    <h2>Oleg Gorlachev</h2>

                    <p>
                        Tech manager, developer, working for this company since the beginning.

                    <div class="social socialteam facebook">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam twitter">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam deviantart">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam flickr">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam dribbble">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="teamwrap teambox">
                <img src="{% static 'images/Arthur.png' %}" width="260" height="200" alt="">

                <div class="mask">
                    <h2>Arthur Tsimmerman</h2>

                    <p>
                        Developer, architect, working for this company since the beginning.

                    <div class="social socialteam facebook">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam twitter">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam deviantart">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam flickr">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam dribbble">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end sidebar -->
    <div class="hr">
    </div>
{% endblock %}