{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- SUBHEADER
    ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="left">
                    CONTACT US
                </p>

                <p class="right">
                    Get in touch today!
                </p>
            </div>
        </div>
    </div>
    <div class="hr">
    </div>
    <!-- CONTENT
    ================================================== -->
    <div class="row">
        <!-- GOOGLE MAP IFRAME -->
        <div class="twelve columns">
            <iframe class="gmap"
                    src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=disney+paris&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=39.371738,86.572266&amp;ie=UTF8&amp;hq=disney&amp;hnear=Paris,+%C3%8Ele-de-France,+France&amp;t=m&amp;fll=48.881877,2.535095&amp;fspn=0.512051,1.352692&amp;st=103241701817924407489&amp;rq=1&amp;ev=zo&amp;split=1&amp;ll=49.027964,2.772675&amp;spn=0.315159,0.585022&amp;z=10&amp;iwloc=D&amp;output=embed">
            </iframe>
        </div>
    </div>
    <div class="row">
        <!-- CONTACT FORM -->
        <div class="twelve columns">
            <div class="wrapcontact">
                <h5>SEND US A MESSAGE</h5>

                <div class="done">
                    <div class="alert-box success">
                        Message has been sent! <a href="" class="close">x</a>
                    </div>
                </div>
                <form method="post" action="#" id="contactform">
                    <div class="form">
                        <div class="six columns noleftmargin">
                            <label>Name</label>
                            <input type="text" name="name" class="smoothborder" placeholder="Your name *"/>
                        </div>
                        <div class="six columns">
                            <label>E-mail address</label>
                            <input type="text" name="email" class="smoothborder" placeholder="Your e-mail address *"/>
                        </div>
                        <label>Message</label>
                        <textarea name="comment" class="smoothborder ctextarea" rows="14"
                                  placeholder="Message, feedback, comments *"></textarea>
                        <input type="submit" id="submit" class="readmore" value="Submit">
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="hr">
    </div>
{% endblock %}