{% extends "base.html" %}

{% block content %}

    <h1>Profile settings</h1>

    <b>Username: {{ user.username }}</b><br/>
    {% if form.photo.value %}
        <img src="{{ form.photo.value.url }}" height="200" width="200"/>
    {% endif %}
    <form action="{% url 'profiles:edit_my_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="save changes"/>
    </form>

{% endblock %}