{% extends "base.html" %}

{% block content %}

    <h2>My profile</h2>
    <b>Username: {{ user.username }}</b><br/>
    {% if user.profile.photo %}
        <img src="{{ user.profile.photo.url }}" height="200" width="200"/>
    {% endif %}
    <p>Gender: {{ user.profile.get_gender_display }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Birth date: {{ user.profile.birth_date }}</p>
    {% if user.first_name and user.last_name %}
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
    {% endif %}

{% endblock content %}