{% extends "login_regist_base.html" %}
{% load static %}

{% block title %}
    <title>Register</title>
{% endblock %}
{% block content %}
    <div class="content-wrap nopadding">

        <div class="section nopadding nomargin"
             style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>

        <div class="section nobg full-screen nopadding nomargin">
            <div class="container vertical-middle divcenter clearfix">
                <div class="row center">
                    <a href="{% url 'homepage' %}"><img src="{% static 'images/kazanquest.png' %}" style="width: 10pc"
                                                        alt="News Logo"></a>
                </div>
                <br/>

                <div class="panel panel-default divcenter noradius noborder"
                     style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                    <div class="panel-body" style="padding: 40px;">
                        <div class="row center">
                            <h3>Register</h3>
                        </div>

                        <form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">
                            {% csrf_token %}
                            <div class="col_full">
                                <label for="{{ form.username.id_for_label }}">username:</label>
                                {{ form.username.error_messages }}
                                {{ form.username }}
                            </div>

                            <div class="col_full">
                                <label for="{{ form.email.id_for_label }}">email address:</label>
                                {{ form.email }}
                            </div>

                            <div class="col_full">
                                <label for="{{ form.password.id_for_label }}">password:</label>
                                {{ form.password }}
                            </div>

                            <div class="col_full">
                                <label for="{{ form.confirm_password.id_for_label }}">confirm password:</label>
                                {{ form.confirm_password }}
                            </div>

                            <div class="col_full nobottommargin">
                                <button class="button button-3d button-black nomargin" id="submit"
                                        name="register-form-submit" value="register">Register Now
                                </button>
                                <a href="{% url 'login' %}" class="fright">Sign in</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}