{% extends "login_regist_base.html" %}
{% load static %}

{% block title %}
    <title>Sign in</title>
{% endblock %}
{% block content %}
    <div class="content-wrap nopadding">

        <div class="section nopadding nomargin"
             style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>


        <div class="section nobg full-screen nopadding nomargin">
            <div class="container vertical-middle divcenter clearfix">

                <div class="row center">
                    <a href="#"><img src="{% static 'images/kazanquest.png' %}" style="width: 10pc" alt="News Logo"></a>
                </div>
                <br/>

                <div class="panel panel-default divcenter noradius noborder"
                     style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                    <div class="panel-body" style="padding: 40px;">

                        <form id="login-form" name="login-form" class="nobottommargin" method="post">
                            {% csrf_token %}
                            <div class="row center">
                                <h3>Login to your Account</h3>
                                {% for error in errors %}
                                    <p style="color:red;">{{ error }}</p>
                                {% endfor %}
                            </div>

                            <div class="col_full">
                                {{ form.login.error_messages }}
                                <label for="{{ form.login.id_for_label }}">Login:</label>
                                {{ form.login }}
                            </div>

                            <div class="col_full">
                                {{ form.password.error_messages }}
                                <label for="{{ form.password.id_for_label }}">Password:</label>
                                {{ form.password }}
                            </div>

                            <div class="col_full nobottommargin">
                                <input type="submit" class="button button-3d button-black nomargin"
                                       id="login-form-submit"
                                       name="login-form-submit" value="login"/>
                                <a href="{% url 'register' %}" class="fright">Register now</a>
                            </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}