<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {% include "head.html" %}
    {% block links %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>

{% block header %}
    {% include "header.html" %}
{% endblock %}
        {% block content %} {% endblock content %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
</body>
</html>