{% load static %}

<!-- FOOOTER
================================================== -->
<div id="footer">
    <footer class="row">
        <p class="back-top floatright">
            <a href="#top"><span></span></a>
        </p>

        <div class="four columns">
            <h1>ABOUT US</h1>
            Our goal is to keep clients satisfied!
        </div>
        <div class="four columns">
            <h1>GET SOCIAL</h1>
            <a class="social facebook" href="#"></a>
            <a class="social twitter" href="#"></a>
            <a class="social deviantart" href="#"></a>
            <a class="social flickr" href="#"></a>
            <a class="social dribbble" href="#"></a>
        </div>
        <div class="four columns">
            <h1 class="newsmargin">NEWSLETTER</h1>

            <div class="row collapse newsletter floatright">
                <div class="ten mobile-three columns">
                    <input type="text" class="nomargin" placeholder="Enter your e-mail address...">
                </div>
                <div class="two mobile-one columns">
                    <a href="#" class="postfix button expand">GO</a>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="copyright">
    <div class="row">
        <div class="six columns">
            &copy;<span class="small"> Copyright Your Agency Name</span>
        </div>
        <div class="six columns">
            <span class="small floatright">Design by <a target="_blank"
                                                        href="http://www.wowthemes.net/premium-themes-templates/">WowThemesNet</a> </span>
        </div>
    </div>
</div>
{# TODO - end footer scripts ------------------------------------------------------------------------- !!! #}
<!-- JAVASCRIPTS
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="{% static 'js/design/javascripts/foundation.min.js' %}"></script>
<script src="{% static 'js/design/javascripts/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/design/javascripts/elasticslideshow.js' %}"></script>
<script src="{% static 'js/design/javascripts/jquery.carouFredSel-6.0.5-packed.js' %}"></script>
<script src="{% static 'js/design/javascripts/jquery.cycle.js' %}"></script>
<script src="{% static 'js/design/javascripts/app.js' %}"></script>
<script src="{% static 'js/design/javascripts/modernizr.foundation.js' %}"></script>
<script src="{% static 'js/design/javascripts/slidepanel.js' %}"></script>
<script src="{% static 'js/design/javascripts/scrolltotop.js' %}"></script>
<script src="{% static 'js/design/javascripts/hoverIntent.js' %}"></script>
<script src="{% static 'js/design/javascripts/superfish.js' %}"></script>
<script src="{% static 'js/design/javascripts/responsivemenu.js' %}"></script>