{% load static %}

<meta charset="utf-8"/>
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width"/>
<title>queStory Project</title>
<!-- CSS Files-->
<link rel="stylesheet" href="{% static 'css/stylesheets/style.css' %}">

<link rel="stylesheet" href="{% static 'css/stylesheets/skins/purple.css' %}">
<!-- skin color -->
<link rel="stylesheet" href="{% static 'css/stylesheets/responsive.css' %}">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->