{% load static %}

<!-- HIDDEN PANEL
================================================== -->
<div id="panel">
    <div class="row">
        <div class="twelve columns">
            {#            <img src="http://www.wowthemes.net/demo/studiofrancesca/images/info.png" class="pics" alt="info">#}

            <div class="infotext">
                {#       Upper widget       #} queStory Kazan
            </div>
        </div>
    </div>
</div>
<p class="slide">
    <a href="#" class="btn-slide"></a>
</p>
<!-- HEADER
================================================== -->
<div class="row">
    <div class="headerlogo four columns">
        <div class="logo">
            <a href="{% url 'homepage' %}">
                <h4>queStory Kazan</h4>
            </a>
        </div>
    </div>
    <div class="headermenu eight columns noleftmarg">
        <nav id="nav-wrap">
            <ul id="main-menu" class="nav-bar sf-menu">
                <li>
                    <a href="{% url 'projects:project' %}">Projects</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                    <ul>
                        <li><a href="blogpage1.html">Blog page style 1</a></li>
                        <li><a href="blogpage2.html">Blog page style 2</a></li>
                        <li><a href="blogpage3.html">Blog page style 3</a></li>
                        <li><a href="blogsinglepost.html">Single post</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="current">
                    <a href="{% url 'about' %}">About</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="#">| {{ user.username }}</a>
                        <ul>
                            <li><a href="#">view profile</a></li>
                            <li><a href="#">edit profile</a></li>
                            <li><a href="#">favourite rooms</a></li>
                            <li><a href="#">visited rooms</a></li>
                            <li><a href="{% url 'logout' %}">sign out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">sign in</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<div class="clear">
</div>