<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
   {% include "login_regist_head.html" %}
   {% block title %}
   {% endblock %}
</head>

<body class="stretched">

    <div id="wrapper" class="clearfix">
        <section id="content">
           {% block content %}{% endblock content %}
        </section>
    </div>
    <!-- Go To Top -->
    <div id="gotoTop" class="icon-angle-up"></div>

   {% include 'login_regist_ending_js.html' %}

</body>
</html>