{% load static %}

<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="author" content="SemiColonWeb"/>

<!-- Stylesheets
============================================= -->
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"
      rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/dark.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/font-icons.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css"/>


<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="{% static 'js/design/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/design/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/design/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dev/formValidation.js' %}"></script>